<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../styles/main.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>Blog</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="header-logo">
				<img class="header-logo__img" src="../images/logo.png" alt="connexion">
				<h2 class="header-logo__text">connexion</h2>
			</div>
			<nav class="navigation">
				<ul class="navigation__list">
					<li navigation__item><a class="navigation__link" href="#">home</a></li>
					<li navigation__item><a class="navigation__link" href="#">blog</a></li>
					<li navigation__item><a class="navigation__link" href="#">about</a></li>
					<li navigation__item><a class="navigation__link" href="#">contact</a></li>
				</ul>
				<button class="navigation__search"><i class="fas fa-search"></i></button>
			</nav>
		</div>
	</header>
	<div class="header-background">
		<div class="header-background__blue">
			<div class="container">
				<h1 class="header-background__text">blog</h1>
			</div>
		</div>
	</div>
	<main class="main">
		<div class="container">
			<div class="contents">
				<section class="blog">
					<a href="#" class="blog__date">23.04.2018</a>
					<img class="blog__img" src="../images/sport-shoes.png" alt="shoes">
					<a href="" class="blog__title">connection-example of busines blog</a>
					<span class="blog__author">by <a href="">David Hyman</a>&nbsp;/&nbsp;340 views</span>
					<p class="blog__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Quo harum consectetur quidem doloribus maxime, excepturi perferendis
						nesciunt atque illo fuga!</p>
				</section>
				<section class="blog">
					<a href="#" class="blog__date">23.04.2019</a>
					<img class="blog__img" src="../images/plate.png" alt="shoes">
					<a href="" class="blog__title">connection-example of busines blog</a>
					<span class="blog__author">by <a href="">David Hyman</a>&nbsp;/&nbsp;340 views</span>
					<p class="blog__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Quo harum consectetur quidem doloribus maxime, excepturi perferendis
						nesciunt atque illo fuga!</p>
				</section>
				<section class="blog">
					<a href="#" class="blog__date">23.04.2019</a>
					<img class="blog__img" src="../images/clock.png" alt="shoes">
					<a href="" class="blog__title">connection-example of busines blog</a>
					<span class="blog__author">by <a href="">David Hyman</a>&nbsp;/&nbsp;340 views</span>
					<p class="blog__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Quo harum consectetur quidem doloribus maxime, excepturi perferendis
						nesciunt atque illo fuga!</p>
				</section>
				<section class="blog">
					<a href="#" class="blog__date">23.04.2019</a>
					<img class="blog__img" src="../images/flower.png" alt="shoes">
					<a href="" class="blog__title">connection-example of busines blog</a>
					<span class="blog__author">by <a href="">David Hyman</a>&nbsp;/&nbsp;340 views</span>
					<p class="blog__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Quo harum consectetur quidem doloribus maxime, excepturi perferendis
						nesciunt atque illo fuga!</p>
				</section>
				<section class="blog">
					<a href="#" class="blog__date">23.04.2019</a>
					<img class="blog__img" src="../images/coffee.png" alt="shoes">
					<a href="" class="blog__title">connection-example of busines blog</a>
					<span class="blog__author">by <a href="">David Hyman</a>&nbsp;/&nbsp;340 views</span>
					<p class="blog__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
						Quo harum consectetur quidem doloribus maxime, excepturi perferendis
						nesciunt atque illo fuga!</p>
				</section>
			</div>

			<aside class="sidebar">
				<div class="sidebar-search">
					<label for="sidebar-search" class="sidebar-search__label">Search </label>
					<input class="sidebar-search__input" id="sidebar-search__input" type="text" placeholder="Enter your keyword">
				</div>
				<div class="sidebar-popular">
					<h3 class="sidebar-title">Populars</h3>
					<ul class="sidebar-popular__list">
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">Management</a></li>
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">SEO</a></li>
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">Advisory Board</a></li>
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">Soft Skills</a></li>
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">Blogging</a></li>
						<li class="sidebar-popular__item"><a href="" class="sidebar-popular__links">Copywriting</a></li>
					</ul>
				</div>

				<div class="sidebar-post">
					<h3 class="sidebar-title">recent post</h3>
					<ul class="sidebar-post__list">
						<li class="sidebar-post__items">
							<a href="" class="sidebar-post__link">
								<h4 class="sidebar-post__title">Lorem ipsum</h4>
								<div class="sidebar-post__info">
									<img class="sidebar-post__img" src="../images/block-1.png" alt="sidebar_posts">
									<p class="sidebar-post__text">Ut enim ad minim veniam,i
										sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure.</p>
								</div>
							</a>
						</li>
						<li class="sidebar-post__items">
							<a href="" class="sidebar-post__link">
								<h4 class="sidebar-post__title">Lorem ipsum</h4>
								<div class="sidebar-post__info">
									<img class="sidebar-post__img" src="../images/block-2.png" alt="sidebar_posts">
									<p class="sidebar-post__text">Ut enim ad minim veniam,i
										sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure </p>
								</div>
							</a>
						</li>
						<li class="sidebar-post__items">
							<a href="" class="sidebar-post__link">
								<h4 class="sidebar-post__title">Lorem ipsum</h4>
								<div class="sidebar-post__info">
									<img class="sidebar-post__img" src="../images/block-3.png" alt="sidebar_posts">
									<p class="sidebar-post__text">Ut enim ad minim veniam,i
										sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure</p>
								</div>
							</a>
						</li>
						<li class="sidebar-post__items">
							<a href="" class="sidebar-post__link">
								<h4 class="sidebar-post__title">Lorem ipsum</h4>
								<div class="sidebar-post__info">
									<img class="sidebar-post__img" src="../images/block-4.png" alt="sidebar_posts">
									<p class="sidebar-post__text">Ut enim ad minim veniam,i
										sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure dolor</p>
								</div>
							</a>
						</li>
						<li class="sidebar-post__items">
							<a href="" class="sidebar-post__link">
								<h4 class="sidebar-post__title">Lorem ipsum</h4>
								<div class="sidebar-post__info">
									<img class="sidebar-post__img" src="../images/block-5.png" alt="sidebar_posts">
									<p class="sidebar-post__text">Ut enim ad minim veniam,i
										sstrud no laboris nisi ut aliquip ex ea commdo consequat. Duis aute irure dolor</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="sidebar-categories">
					<h3 class="sidebar-title">recent post</h3>
					<ul class="sidebar-categories__list">
						<li class="sidebar-categories__item"><a href="" class="sidebar-categories__link">the lorem ipsum (16)</a></li>
						<li class="sidebar-categories__item"><a href="" class="sidebar-categories__link">the lorem ipsum (8)</a></li>
						<li class="sidebar-categories__item"><a href="" class="sidebar-categories__link">the lorem ipsum</a></li>
						<li class="sidebar-categories__item"><a href="" class="sidebar-categories__link">the lorem ipsum</a></li>
						<li class="sidebar-categories__item"><a href="" class="sidebar-categories__link">the lorem ipsum</a></li>
					</ul>
				</div>
			</aside>
		</div>
	</main>
		<!-- end -->
		<!--section class="contact">
			<div class="wrap">
				<p class="contact__text">Need help with your PR? We build brand reputation and offer real solutions to business challenges, and do whatever it takes to get the results you deserve. We’d love to hear from you.</p>
				<div class="contact__input">
					<div class="input-login">
						<input class="login__item" type="text" placeholder="First Name*">
						<input class="login__item" type="email" placeholder="Email*">
						<input class="login__item" type="text" placeholder="Last Name*">
						<input class="login__item" type="tel" placeholder="Phone">
					</div>
					<div class="input-msg">
						<textarea class="msg__textarea" placeholder="Type your message here"></textarea>
					</div>
					<div class="input-submit">
						<a class="submit__link" href="#">Contact Us</a>
					</div>
				</div>
			</div>
		</section>
		<footer>
	
		</footer -->
		<footer>
			<div class="info-form">
				<form>
				  <input type="text" name="Name" placeholder="First Name*"></input>
				  <input type="text" name="Email" placeholder="Email*"></input>
				  <input type="text" name="Last Name" placeholder="Last Name*"></input>
				  <input type="text" name="Phone" placeholder="Phone*"></input>
				  <textarea name="text" placeholder="type your massage here"></textarea></br>
				  <button id="contact_us">Contact us</button>
				</form>
				</div> 
				<div class="contacts">
				  <ul>
					<li>
					  <a href="#">Adress: 4262, Stratford Cort</a>
					</li>
					<li>
						<a href="#">Tel: 919-920-6324</a>
					</li>
					<li>
						<a href="#">Email:hr@gmail.com</a>
					</li>
				  </ul>
				</div>
  
		</footer>
</body>

</html>